*.aps
*.cache
*.idc
*.ipch
*.la
*.lo
*.o
*.opensdf
*.pyc
*.sdf
*.stamp
*.suo
*.swp
*.user
*~
.DS_Store
.deps
.libs
.metadata
/cloud-spy/chrome/plugin-mac.plugin/Contents/MacOS/libnpcsplugin.dylib
/cloud-spy/chrome/plugin-windows.dll
/zed/INSTALL
/zed/Makefile
/zed/Makefile.in
/zed/README
/zed/aclocal.m4
/zed/bin
/zed/bindings/Makefile
/zed/bindings/Makefile.in
/zed/bindings/cloud-spy/Makefile
/zed/bindings/cloud-spy/Makefile.in
/zed/bindings/cloud-spy/cloud-spy-api.c
/zed/bindings/cloud-spy/cloud-spy-data*
/zed/bindings/cloud-spy/cloud-spy-root.c
/zed/bindings/cloud-spy/cloud-spy.h
/zed/bindings/cloud-spy/cloud-spy.vapi
/zed/build/frida-android
/zed/build/frida-ios
/zed/build/frida-linux-*
/zed/build/frida-osx*
/zed/build/frida-ps3
/zed/build/sdk-android
/zed/build/sdk-ios
/zed/build/sdk-osx*
/zed/build/sdk-ps3
/zed/build/tmp-android
/zed/build/tmp-ios
/zed/build/tmp-linux-*
/zed/build/tmp-osx*
/zed/build/tmp-ps3
/zed/build/toolchain
/zed/config.guess
/zed/config.h
/zed/config.h.in
/zed/config.log
/zed/config.status
/zed/config.sub
/zed/configure
/zed/data/Makefile
/zed/data/Makefile.in
/zed/data/zed-data-*.[chS]
/zed/data/zed-data-*.vapi
/zed/data/zed-data-stamp
/zed/depcomp
/zed/ext/sdk-windows
/zed/ext/toolchain
/zed/install-sh
/zed/lib/Makefile
/zed/lib/Makefile.in
/zed/lib/agent/Makefile
/zed/lib/agent/Makefile.in
/zed/lib/agent/agent.c
/zed/lib/agent/script-engine.c
/zed/lib/agent/zed-agent.h
/zed/lib/agent/zed-agent.vapi
/zed/lib/interfaces/Makefile
/zed/lib/interfaces/Makefile.in
/zed/lib/interfaces/session.c
/zed/lib/interfaces/session.vala
/zed/lib/interfaces/zed-interfaces.h
/zed/lib/interfaces/zed-interfaces.vapi
/zed/libtool
/zed/ltmain.sh
/zed/m4/libtool.m4
/zed/m4/lt*.m4
/zed/missing
/zed/obj
/zed/src/*.vapi
/zed/src/Makefile
/zed/src/Makefile.in
/zed/src/cli/application.c
/zed/src/core/darwin/darwin-host-session.c
/zed/src/core/darwin/fruitjector.c
/zed/src/core/fruity/fruity-client.c
/zed/src/core/fruity/fruity-host-session.c
/zed/src/core/fruity/fruity-property-list.c
/zed/src/core/host-session-service.c
/zed/src/core/linux/linjector.c
/zed/src/core/system.c
/zed/src/core/tcp/tcp-host-session.c
/zed/src/zed
/zed/src/zed-cli
/zed/src/zed-cli.[ch]
/zed/src/zed-core.h
/zed/src/zed-server
/zed/src/zed-server.c
/zed/stamp-h1
/zed/tests/Makefile
/zed/tests/Makefile.in
/zed/tests/async-harness.c
/zed/tests/inject-attacker.log
/zed/tests/inject-victim
/zed/tests/inject-victim.c
/zed/tests/labrats/bin
/zed/tests/labrats/obj
/zed/tests/main.c
/zed/tests/process.c
/zed/tests/runner.c
/zed/tests/test-agent.c
/zed/tests/test-fruitjector.c
/zed/tests/test-host-session.c
/zed/tests/test-linjector.c
/zed/tests/test-system.c
/zed/tests/zed-tests
/zed/tests/zed-tests.h
/zed/tests/zed-tests.vapi
/zed/tools/Makefile
/zed/tools/Makefile.in
/zed/tools/resource-compiler
/zed/tools/resource-compiler.c
